.fill-in{
  justify-content: center;
  margin: 20px;
}
.mb-3 form-check{
  text-align: center;
}
.btn btn-primary{
  justify-self: center;
}
.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}
.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.cardbody-color{
  background-color: #bec3c9;
}
a{
  text-decoration: none;
}
h2 .text-center{
  margin-top: 0px;
}